In [ ]:
import numpy as np
import pandas as pd

In [ ]:
'''
target value:
0 - stay
1 - walk
2 - run
'''

def preprocess_df(df, target : int, final_df = None, flag = False, idx_0 = None, idx_1 = None):
  df = df.rename(columns={'v1' : 'gyro_x', 
                          'v2' : 'gyro_y',
                          'v3' : 'gyro_z',
                          'v4' : 'acceleration_x',
                          'v5' : 'acceleration_y',
                          'v6' : 'acceleration_z'})
  
  df = df.drop(columns = ['pocket_id', 'v7'])
  df[['target']] = target
  len_df = len(df)

  if idx_0:
    df = df.iloc[idx_0:]

  if idx_0 and idx_1:
    df = df.iloc[:idx_1 - len_df]

  if not idx_0 and idx_1:
    df = df.iloc[:idx_1]
    
  if idx_0 or idx_1:
    df = df.reset_index(drop = True)

  if flag:
    final_df = pd.concat([final_df, df], ignore_index = True)
    return df, final_df

  return df

In [ ]:
stay_df_0 = pd.read_csv('./stay_0.csv')
stay_df_0 = preprocess_df(stay_df_0, target = 0)
final_df = stay_df_0
stay_df_0

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,181,-3007,2892,5,-7,-2,2023-05-10T21:23:17.026,0
1,185,-3010,2878,6,-7,-2,2023-05-10T21:23:17.103,0
2,187,-3012,2892,6,-7,-2,2023-05-10T21:23:17.180,0
3,186,-3009,2887,6,-7,-2,2023-05-10T21:23:17.379,0
4,184,-3011,2888,6,-7,-2,2023-05-10T21:23:17.393,0
...,...,...,...,...,...,...,...,...
639,-3829,-760,1455,1,-6,-7,2023-05-10T21:27:34.315,0
640,-3814,-759,1429,4,-12,-1,2023-05-10T21:27:34.390,0
641,-3836,-788,1404,2,-5,22,2023-05-10T21:27:34.468,0
642,-3800,-774,1379,0,5,12,2023-05-10T21:27:34.541,0
643,-3850,-791,1396,12,18,26,2023-05-10T21:27:34.613,0

In [ ]:
# stay_df_1 = pd.read_csv('./30_05_2023_01_18_34_01_58_31_dota.csv.csv')
# stay_df_1, final_df = preprocess_df(stay_df_1, target = 0, final_df = final_df, flag = True)
# stay_df_1

In [ ]:
stay_df_2 = pd.read_csv('./30_05_2023_01_59_51_02_10_16_lie.csv')
stay_df_2, final_df = preprocess_df(stay_df_2, target = 0, final_df = final_df, flag = True, idx_0 = 80)
stay_df_2

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,3499,-1466,1398,268,47,13,2023-05-30T13:59:57.864766,0
1,3458,-1616,1748,182,44,-42,2023-05-30T13:59:57.962309,0
2,3444,-1670,1560,-147,-44,-68,2023-05-30T13:59:58.013413,0
3,3631,-1295,1267,-64,-19,-41,2023-05-30T13:59:58.111070,0
4,3542,-1612,1345,188,44,13,2023-05-30T13:59:58.159760,0
...,...,...,...,...,...,...,...,...
7761,4056,-467,-561,23,-14,4,2023-05-30T14:10:16.415045,0
7762,4020,-470,-482,56,-21,5,2023-05-30T14:10:16.512472,0
7763,4018,-445,-509,7,-13,2,2023-05-30T14:10:16.561334,0
7764,4022,-452,-516,-31,-10,-9,2023-05-30T14:10:16.659207,0
7765,4064,-348,-509,86,0,-16,2023-05-30T14:10:16.755931,0

In [ ]:
stay_df_3 = pd.read_csv('./30_05_2023_02_11_01_02_22_13_stand.csv')
stay_df_3, final_df = preprocess_df(stay_df_3, target = 0, final_df = final_df, flag = True)
stay_df_3

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-1265,-3604,1806,-32,5,1,2023-05-30T14:11:01.070010,0
1,-1228,-3496,1879,134,-15,14,2023-05-30T14:11:01.167409,0
2,-1304,-3493,1906,82,-87,16,2023-05-30T14:11:01.215954,0
3,-1254,-3442,1845,174,-93,17,2023-05-30T14:11:01.314113,0
4,-1304,-3467,2002,550,-6,-13,2023-05-30T14:11:01.412602,0
...,...,...,...,...,...,...,...,...
8427,1250,-3654,-1379,-6,-3,-4,2023-05-30T14:22:12.713052,0
8428,1264,-3658,-1399,-20,-21,5,2023-05-30T14:22:12.810292,0
8429,1262,-3637,-1401,-30,-22,1,2023-05-30T14:22:12.858722,0
8430,1299,-3670,-1389,-7,-18,11,2023-05-30T14:22:12.956479,0
8431,1292,-3709,-1441,5,-17,-4,2023-05-30T14:22:13.051965,0

In [ ]:
walk_df_0 = pd.read_csv('./1_10_40_100_medium_walk_hide.csv')
walk_df_0, final_df = preprocess_df(walk_df_0, target = 1, final_df = final_df, flag = True)
walk_df_0

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1862,922,266,-241,-65,47,2023-05-10T10:38:20.756,1
1,1830,904,350,-216,-97,-23,2023-05-10T10:38:20.846,1
2,1842,966,276,-191,-13,-54,2023-05-10T10:38:21.025,1
3,1916,868,262,-210,64,-92,2023-05-10T10:38:21.070,1
4,1761,526,220,-241,19,-80,2023-05-10T10:38:21.160,1
...,...,...,...,...,...,...,...,...
1142,1884,636,476,3,-7,3,2023-05-10T10:41:39.519,1
1143,1885,642,459,-54,-7,3,2023-05-10T10:41:39.656,1
1144,1890,629,478,9,-20,22,2023-05-10T10:41:39.745,1
1145,1876,629,479,28,32,28,2023-05-10T10:41:39.834,1
1146,1877,655,469,-29,32,-10,2023-05-10T10:41:39.925,1

In [ ]:
walk_df_1 = pd.read_csv('./2_10_43_100_slow_walk_hide.csv')
walk_df_1, final_df = preprocess_df(walk_df_1, target = 1, final_df = final_df, flag = True)
walk_df_1

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1853,669,519,-54,-33,22,2023-05-10T10:42:28.390,1
1,1868,648,527,-66,-20,-23,2023-05-10T10:42:28.526,1
2,1868,653,504,-66,-46,-4,2023-05-10T10:42:28.615,1
3,1869,631,497,-79,-59,-16,2023-05-10T10:42:28.704,1
4,1872,641,471,-129,-39,-4,2023-05-10T10:42:28.794,1
...,...,...,...,...,...,...,...,...
791,1797,819,517,-16,-26,-10,2023-05-10T10:44:24.805,1
792,1815,830,542,9,-7,22,2023-05-10T10:44:25.050,1
793,1796,848,496,28,-33,15,2023-05-10T10:44:25.071,1
794,1798,825,510,-41,38,35,2023-05-10T10:44:25.119,1
795,1813,821,531,21,-1,28,2023-05-10T10:44:25.209,1

In [ ]:
walk_df_2 = pd.read_csv('./4_11_19_300_medium_walk_hide.csv')
walk_df_2, final_df = preprocess_df(walk_df_2, target = 1, final_df = final_df, flag = True)
walk_df_2

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1378,802,92,409,6,-16,2023-05-10T11:19:07.050,1
1,1933,2179,157,1247,-458,-92,2023-05-10T11:19:07.178,1
2,2285,943,332,-1398,205,-302,2023-05-10T11:19:07.226,1
3,1871,1126,919,-1141,437,-149,2023-05-10T11:19:07.313,1
4,1416,599,273,1284,-97,339,2023-05-10T11:19:07.453,1
...,...,...,...,...,...,...,...,...
1650,1920,618,365,28,-7,-35,2023-05-10T11:22:06.679,1
1651,1904,615,368,3,-1,-16,2023-05-10T11:22:06.729,1
1652,1915,629,361,3,6,-16,2023-05-10T11:22:06.819,1
1653,1914,589,360,-4,-33,16,2023-05-10T11:22:07.057,1
1654,1938,616,361,3,12,22,2023-05-10T11:22:07.073,1

In [ ]:
walk_df_3 = pd.read_csv('./5_11_36_10_medium_walk_hide.csv.csv')
walk_df_3, final_df = preprocess_df(walk_df_3, target = 1, final_df = final_df, flag = True)
walk_df_3

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-727,1754,83,-47,-46,-3,2023-05-10T11:26:09.056,1
1,-787,2044,114,103,38,-3,2023-05-10T11:26:09.146,1
2,-695,1908,13,-10,-1,35,2023-05-10T11:26:09.236,1
3,-735,1972,66,65,12,-16,2023-05-10T11:26:09.325,1
4,-645,1751,26,9,-20,3,2023-05-10T11:26:09.570,1
...,...,...,...,...,...,...,...,...
163,1917,602,426,-4,38,-22,2023-05-10T11:36:20.242,1
164,1906,595,443,34,-26,-16,2023-05-10T11:36:20.474,1
165,1918,576,421,15,38,-22,2023-05-10T11:36:20.495,1
166,1908,607,434,-10,-26,9,2023-05-10T11:36:20.560,1
167,1904,585,427,40,-1,28,2023-05-10T11:36:20.649,1

In [ ]:
walk_df_4 = pd.read_csv('./6_11_38_10_slow_walk_hide.csv')
walk_df_4, final_df = preprocess_df(walk_df_4, target = 1, final_df = final_df, flag = True)
walk_df_4

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,96,2028,327,40,6,41,2023-05-10T11:37:31.176,1
1,94,2031,230,115,-26,41,2023-05-10T11:37:31.183,1
2,108,2020,263,96,6,9,2023-05-10T11:37:31.258,1
3,97,2056,224,96,12,-35,2023-05-10T11:37:31.346,1
4,84,1999,199,90,-52,-16,2023-05-10T11:37:31.482,1
...,...,...,...,...,...,...,...,...
155,1869,810,411,-16,-1,47,2023-05-10T11:38:17.980,1
156,1832,784,386,-4,-33,-22,2023-05-10T11:38:18.002,1
157,1867,794,386,-29,-14,-22,2023-05-10T11:38:18.100,1
158,1852,802,387,-10,12,16,2023-05-10T11:38:18.148,1
159,1850,822,376,21,-1,22,2023-05-10T11:38:18.234,1

In [ ]:
walk_df_5 = pd.read_csv('./7_11_42_300_fast_walk_hide.csv')
walk_df_5, final_df = preprocess_df(walk_df_5, target = 1, final_df = final_df, flag = True)
walk_df_5

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,2623,19,779,-66,77,-447,2023-05-10T11:41:07.209,1
1,2253,61,768,-254,38,-733,2023-05-10T11:41:07.302,1
2,1425,90,733,-204,96,-536,2023-05-10T11:41:07.391,1
3,1380,51,502,65,244,-200,2023-05-10T11:41:07.481,1
4,1551,204,484,309,212,92,2023-05-10T11:41:07.569,1
...,...,...,...,...,...,...,...,...
1364,1925,510,487,-29,-72,22,2023-05-10T11:44:18.055,1
1365,1924,491,486,-22,-14,-3,2023-05-10T11:44:18.153,1
1366,1927,529,494,-4,19,-16,2023-05-10T11:44:18.233,1
1367,1947,499,442,9,19,16,2023-05-10T11:44:18.416,1
1368,1911,513,433,9,-20,16,2023-05-10T11:44:18.460,1

In [ ]:
walk_df_6 = pd.read_csv('./8_11_46_300_slow_walk_hide.csv')
walk_df_6, final_df = preprocess_df(walk_df_6, target = 1, final_df = final_df, flag = True, idx_0 = 64)
walk_df_6

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,2726,901,285,-241,-1,3,2023-05-10T11:46:07.274,1
1,1255,468,-160,-429,-149,-16,2023-05-10T11:46:07.362,1
2,1808,845,8,-497,-200,180,2023-05-10T11:46:07.453,1
3,1625,534,247,459,-97,-35,2023-05-10T11:46:07.543,1
4,1770,586,648,409,6,174,2023-05-10T11:46:07.630,1
...,...,...,...,...,...,...,...,...
1578,1889,663,438,3,-1,-16,2023-05-10T11:48:44.597,1
1579,1879,678,449,53,-27,3,2023-05-10T11:48:44.680,1
1580,1901,669,432,-54,57,28,2023-05-10T11:48:44.906,1
1581,1888,669,444,59,38,9,2023-05-10T11:48:44.918,1
1582,1897,677,466,34,19,-10,2023-05-10T11:48:45.038,1

In [ ]:
walk_df_7 = pd.read_csv('./9_11_52_100_fast_walk_hide.csv')
walk_df_7, final_df = preprocess_df(walk_df_7, target = 1, final_df = final_df, flag = True, idx_0 = 64)
walk_df_7

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,2988,2226,747,1203,283,383,2023-05-10T11:52:08.127,1
1,2751,1737,372,-472,514,-365,2023-05-10T11:52:08.217,1
2,1391,-638,-312,-104,-187,-549,2023-05-10T11:52:08.307,1
3,423,511,544,-623,83,-359,2023-05-10T11:52:08.397,1
4,1115,995,110,253,-7,345,2023-05-10T11:52:08.486,1
...,...,...,...,...,...,...,...,...
453,1917,566,493,3,-7,9,2023-05-10T11:52:53.259,1
454,1915,523,462,21,-14,9,2023-05-10T11:52:53.489,1
455,1947,529,473,9,-26,28,2023-05-10T11:52:53.497,1
456,1920,505,464,-29,12,-3,2023-05-10T11:52:53.572,1
457,1938,503,473,-10,-33,16,2023-05-10T11:52:53.663,1

In [ ]:
walk_df_8 = pd.read_csv('./10_11_55_10_fast_walk_hide.csv')
walk_df_8, final_df = preprocess_df(walk_df_8, target = 1, final_df = final_df, flag = True)
walk_df_8

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1880,641,493,40,44,9,2023-05-10T11:54:20.650,1
1,1885,652,493,28,-1,-23,2023-05-10T11:54:20.741,1
2,1887,654,494,-4,32,3,2023-05-10T11:54:20.829,1
3,1859,635,505,-35,-14,-10,2023-05-10T11:54:20.920,1
4,1876,622,501,-35,-33,-29,2023-05-10T11:54:21.011,1
...,...,...,...,...,...,...,...,...
226,1872,753,477,78,38,22,2023-05-10T11:55:08.527,1
227,1854,751,465,46,19,-23,2023-05-10T11:55:08.577,1
228,1867,726,480,-29,-7,-10,2023-05-10T11:55:08.665,1
229,1860,729,441,-29,64,-42,2023-05-10T11:55:08.848,1
230,1882,694,447,-4,-7,-3,2023-05-10T11:55:08.889,1

In [ ]:
walk_df_9 = pd.read_csv('./13_17_10_10_medium_walk_out.csv')
walk_df_9, final_df = preprocess_df(walk_df_9, target = 1, final_df = final_df, flag = True)
walk_df_9

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1110,-3860,709,296,-28,11,2023-05-10T17:09:57.312,1
1,1125,-3894,681,161,-5,1,2023-05-10T17:09:57.405,1
2,1189,-4170,641,-210,-32,-50,2023-05-10T17:09:57.447,1
3,1246,-3734,626,-99,-83,6,2023-05-10T17:09:57.540,1
4,1029,-3967,806,-787,-243,-47,2023-05-10T17:09:57.628,1
...,...,...,...,...,...,...,...,...
196,1538,-3715,1097,3,9,-20,2023-05-10T17:10:18.961,1
197,1530,-3675,1080,-1,1,-8,2023-05-10T17:10:19.051,1
198,1526,-3693,1085,36,15,-6,2023-05-10T17:10:19.091,1
199,1495,-3745,1040,22,6,-5,2023-05-10T17:10:19.182,1
200,1484,-3679,1163,-26,-26,10,2023-05-10T17:10:19.272,1

In [ ]:
walk_df_10 = pd.read_csv('./15_17_19_100_slow_walk_out.csv')
walk_df_10, final_df = preprocess_df(walk_df_10, target = 1, final_df = final_df, flag = True)
walk_df_10

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1605,-3675,702,-6,-50,2,2023-05-10T17:18:24.056,1
1,1627,-3716,784,-63,-79,16,2023-05-10T17:18:24.102,1
2,1528,-3979,773,-132,-138,52,2023-05-10T17:18:24.194,1
3,1580,-3769,710,43,-124,5,2023-05-10T17:18:24.284,1
4,1548,-3723,469,-164,-128,21,2023-05-10T17:18:24.371,1
...,...,...,...,...,...,...,...,...
924,-3876,-957,1165,-15,-12,3,2023-05-10T17:20:16.736,1
925,-3868,-979,1153,-13,-21,-7,2023-05-10T17:20:16.830,1
926,-3872,-960,1139,8,-19,-3,2023-05-10T17:20:16.920,1
927,-3887,-969,1122,4,-20,-12,2023-05-10T17:20:17.007,1
928,-3859,-933,1124,-4,-3,-9,2023-05-10T17:20:17.053,1

In [ ]:
walk_df_11 = pd.read_csv('./16_17_16_100_medium_walk_out.csv')
walk_df_11, final_df = preprocess_df(walk_df_11, target = 1, final_df = final_df, flag = True)
walk_df_11

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1271,-3245,1477,166,-15,-1,2023-05-10T17:15:43.406,1
1,1209,-3436,1536,-394,-55,63,2023-05-10T17:15:43.452,1
2,1406,-4184,1236,-1082,-235,154,2023-05-10T17:15:43.546,1
3,1283,-4439,737,-770,-296,188,2023-05-10T17:15:43.631,1
4,1194,-3865,745,-566,-241,-20,2023-05-10T17:15:43.722,1
...,...,...,...,...,...,...,...,...
759,-3871,-1016,1039,-5,-18,-11,2023-05-10T17:17:17.233,1
760,-3880,-1021,1041,-14,-11,8,2023-05-10T17:17:17.326,1
761,-3880,-1026,1053,-1,4,7,2023-05-10T17:17:17.414,1
762,-3855,-1023,1054,8,11,14,2023-05-10T17:17:17.504,1
763,-3921,-1041,1068,6,4,17,2023-05-10T17:17:17.592,1

In [ ]:
walk_df_12 = pd.read_csv('./17_17_22_100_fast_walk_out.csv')
walk_df_12, final_df = preprocess_df(walk_df_12, target = 1, final_df = final_df, flag = True)
walk_df_12

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1102,-4241,970,-236,-14,122,2023-05-10T17:21:18.928,1
1,1089,-3820,779,-135,-26,18,2023-05-10T17:21:19.019,1
2,1228,-3711,397,-308,4,-16,2023-05-10T17:21:19.061,1
3,1133,-3814,639,-603,-54,-38,2023-05-10T17:21:19.154,1
4,1062,-4318,448,-1262,-57,8,2023-05-10T17:21:19.244,1
...,...,...,...,...,...,...,...,...
645,-3892,-1034,867,22,-21,-19,2023-05-10T17:23:06.658,1
646,-3900,-1051,854,1,-10,9,2023-05-10T17:23:06.748,1
647,-3907,-1080,880,-4,-2,8,2023-05-10T17:23:06.839,1
648,-3901,-1074,914,3,-1,21,2023-05-10T17:23:06.881,1
649,-3920,-1111,924,-23,1,14,2023-05-10T17:23:06.971,1

In [ ]:
walk_df_13 = pd.read_csv('./18_17_38_300_slow_walk_out.csv')
walk_df_13, final_df = preprocess_df(walk_df_13, target = 1, final_df = final_df, flag = True)
walk_df_13

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-3662,-425,1038,-168,-44,218,2023-05-10T17:37:01.047,1
1,-4141,-483,1048,147,48,65,2023-05-10T17:37:01.090,1
2,-4246,-353,295,-319,-92,-111,2023-05-10T17:37:01.185,1
3,-4338,-748,234,-554,-37,-99,2023-05-10T17:37:01.274,1
4,-4096,-781,974,-944,-203,-40,2023-05-10T17:37:01.369,1
...,...,...,...,...,...,...,...,...
2692,-3907,-922,1174,-1,5,20,2023-05-10T17:41:17.142,1
2693,-3902,-951,1175,0,-1,-3,2023-05-10T17:41:17.234,1
2694,-3852,-912,1184,10,-7,-1,2023-05-10T17:41:17.325,1
2695,-3894,-933,1183,-8,-16,10,2023-05-10T17:41:17.411,1
2696,-3863,-932,1161,9,-10,-7,2023-05-10T17:41:17.456,1

In [ ]:
walk_df_14 = pd.read_csv('./19_17_33_300_medium_walk_out.csv')
walk_df_14, final_df = preprocess_df(walk_df_14, target = 1, final_df = final_df, flag = True)
walk_df_14

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,996,-3319,2269,-112,-159,139,2023-05-10T17:32:58.499,1
1,1056,-3394,2161,-97,-136,106,2023-05-10T17:32:58.590,1
2,1022,-3313,2059,-270,-136,104,2023-05-10T17:32:58.631,1
3,899,-3537,2000,-433,-178,125,2023-05-10T17:32:58.722,1
4,883,-3384,1952,-640,-254,115,2023-05-10T17:32:58.810,1
...,...,...,...,...,...,...,...,...
1977,-3343,-1152,1359,-2275,31,557,2023-05-10T17:35:53.595,1
1978,-3147,-1369,1378,-721,66,538,2023-05-10T17:35:53.684,1
1979,-3458,-996,1832,-388,195,452,2023-05-10T17:35:53.774,1
1980,-4275,-1179,1958,92,149,221,2023-05-10T17:35:53.820,1
1981,-5771,-1312,2352,215,-77,-129,2023-05-10T17:35:53.907,1

In [ ]:
walk_df_15 = pd.read_csv('./20_17_30_300_fast_walk_out.csv')
walk_df_15, final_df = preprocess_df(walk_df_15, target = 1, final_df = final_df, flag = True)
walk_df_15

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1291,-3769,3,0,-60,-27,2023-05-10T17:29:22.329,1
1,1442,-4052,-290,-257,-130,-39,2023-05-10T17:29:22.338,1
2,1326,-3992,-180,52,-112,-84,2023-05-10T17:29:22.363,1
3,1301,-3766,-244,-83,-103,-47,2023-05-10T17:29:22.453,1
4,1476,-4043,-545,-217,-70,-63,2023-05-10T17:29:22.543,1
...,...,...,...,...,...,...,...,...
1810,-3898,-1044,1023,-65,-11,144,2023-05-10T17:32:10.481,1
1811,-3909,-1111,1015,-113,-9,133,2023-05-10T17:32:10.574,1
1812,-3877,-1089,999,-54,-3,98,2023-05-10T17:32:10.665,1
1813,-3898,-1094,987,-80,-19,47,2023-05-10T17:32:10.797,1
1814,-3879,-1110,988,-77,-19,1,2023-05-10T17:32:10.807,1

In [ ]:
walk_df_16 = pd.read_csv('./20_17_30_300_fast_walk_out.csv')
walk_df_16, final_df = preprocess_df(walk_df_16, target = 1, final_df = final_df, flag = True)
walk_df_16

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,1291,-3769,3,0,-60,-27,2023-05-10T17:29:22.329,1
1,1442,-4052,-290,-257,-130,-39,2023-05-10T17:29:22.338,1
2,1326,-3992,-180,52,-112,-84,2023-05-10T17:29:22.363,1
3,1301,-3766,-244,-83,-103,-47,2023-05-10T17:29:22.453,1
4,1476,-4043,-545,-217,-70,-63,2023-05-10T17:29:22.543,1
...,...,...,...,...,...,...,...,...
1810,-3898,-1044,1023,-65,-11,144,2023-05-10T17:32:10.481,1
1811,-3909,-1111,1015,-113,-9,133,2023-05-10T17:32:10.574,1
1812,-3877,-1089,999,-54,-3,98,2023-05-10T17:32:10.665,1
1813,-3898,-1094,987,-80,-19,47,2023-05-10T17:32:10.797,1
1814,-3879,-1110,988,-77,-19,1,2023-05-10T17:32:10.807,1

In [ ]:
run_df_0 = pd.read_csv('./1_17_44_100_slow_run_out.csv')
run_df_0, final_df = preprocess_df(run_df_0, target = 2, final_df = final_df, flag = True, idx_0 = 24, idx_1 = 660)
run_df_0

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-3816,-618,1722,725,10,-168,2023-05-10T17:43:54.381,2
1,-3959,-1471,1970,-652,-419,-245,2023-05-10T17:43:54.448,2
2,-4260,-1937,2276,177,-834,-805,2023-05-10T17:43:54.506,2
3,-3598,-2169,2079,-140,-1124,-1230,2023-05-10T17:43:54.599,2
4,-3388,-2627,2598,1038,-1129,-1502,2023-05-10T17:43:54.690,2
...,...,...,...,...,...,...,...,...
631,-1516,-3337,-237,428,564,-2282,2023-05-10T17:44:44.641,2
632,-863,-566,-295,964,549,-1034,2023-05-10T17:44:44.732,2
633,-1180,164,107,371,170,14,2023-05-10T17:44:44.820,2
634,-1619,-908,430,-578,-383,2567,2023-05-10T17:44:44.862,2
635,-3582,-10061,3218,-221,-902,1864,2023-05-10T17:44:44.958,2

In [ ]:
run_df_1 = pd.read_csv('./2_17_47_100_medium_run_out.csv')
run_df_1, final_df = preprocess_df(run_df_1, target = 2, final_df = final_df, flag = True, idx_0 = 62, idx_1 = 650)
run_df_1

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-578,2504,3060,-130,-97,-97,2023-05-10T17:46:39.122,2
1,-501,2555,3141,-95,-100,-26,2023-05-10T17:46:39.207,2
2,-632,2497,3321,-50,-27,-16,2023-05-10T17:46:39.253,2
3,-670,2514,3329,-55,20,19,2023-05-10T17:46:39.344,2
4,-534,2390,3154,-69,45,23,2023-05-10T17:46:39.435,2
...,...,...,...,...,...,...,...,...
583,2115,-2079,680,-122,524,-1248,2023-05-10T17:47:25.607,2
584,-663,-11445,973,1761,1252,-1961,2023-05-10T17:47:25.649,2
585,-2864,-7679,352,-575,293,-2918,2023-05-10T17:47:25.740,2
586,-1716,-1336,-624,394,1116,-1434,2023-05-10T17:47:25.830,2
587,-2783,1381,-716,414,898,-67,2023-05-10T17:47:25.919,2

In [ ]:
run_df_2 = pd.read_csv('./3_17_49_100_fast_run_out.csv')
run_df_2, final_df = preprocess_df(run_df_2, target = 2, final_df = final_df, flag = True, idx_0 = 64, idx_1 = 650)
run_df_2

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-109,2177,3388,-3,13,9,2023-05-10T17:48:54.080,2
1,-131,2272,3434,-105,-96,52,2023-05-10T17:48:54.163,2
2,-119,2289,3483,-93,-102,112,2023-05-10T17:48:54.339,2
3,-76,2206,3480,-55,-49,95,2023-05-10T17:48:54.368,2
4,-76,2166,3504,-26,5,56,2023-05-10T17:48:54.388,2
...,...,...,...,...,...,...,...,...
581,-775,-1804,2267,-1219,-1231,-1747,2023-05-10T17:49:40.425,2
582,-453,-4694,1039,-1587,-341,-1874,2023-05-10T17:49:40.463,2
583,-404,-4056,1755,-1059,292,-2099,2023-05-10T17:49:40.509,2
584,74,-3137,941,-432,734,-1580,2023-05-10T17:49:40.689,2
585,-40,-2834,504,-1540,1146,-1299,2023-05-10T17:49:40.694,2

In [ ]:
run_df_3 = pd.read_csv('./30_05_2023_09_20_23_09_23_47_500_slow_run_out.csv')
run_df_3, final_df = preprocess_df(run_df_3, target = 2, final_df = final_df, flag = True)
run_df_3

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-6158,-2946,1705,-982,45,1366,2023-05-30T09:20:23.165367,2
1,-5414,-1462,1078,996,-21,-4,2023-05-30T09:20:23.262839,2
2,-5236,-1312,-108,1551,-180,-1793,2023-05-30T09:20:23.311351,2
3,-4475,-352,870,1994,-935,-2986,2023-05-30T09:20:23.408845,2
4,-4160,-950,225,1364,-1142,-3224,2023-05-30T09:20:23.506842,2
...,...,...,...,...,...,...,...,...
2560,-2276,-1308,-425,646,242,614,2023-05-30T09:23:47.188199,2
2561,-2680,-4174,-1299,-668,-909,931,2023-05-30T09:23:47.285883,2
2562,-1398,-5956,-1442,-1015,-1787,1230,2023-05-30T09:23:47.383681,2
2563,-243,-5419,-1329,-1495,-1921,1143,2023-05-30T09:23:47.431680,2
2564,889,-3738,-711,-779,-1689,659,2023-05-30T09:23:47.529067,2

In [ ]:
run_df_4 = pd.read_csv('./30_05_2023_09_30_04_09_33_14_500_medium_run_out.csv')
run_df_4, final_df = preprocess_df(run_df_4, target = 2, final_df = final_df, flag = True)
run_df_4

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-3767,-9046,-2424,586,2119,-3835,2023-05-30T09:30:04.705005,2
1,-3695,-4760,-1049,856,1634,-3222,2023-05-30T09:30:04.802162,2
2,-2271,-1269,-636,-486,1158,-2123,2023-05-30T09:30:04.850887,2
3,-3123,644,-758,-766,668,-474,2023-05-30T09:30:04.948812,2
4,-3710,-2089,-1372,-953,-919,1072,2023-05-30T09:30:05.046045,2
...,...,...,...,...,...,...,...,...
2380,-1732,-7780,-3698,576,3185,-2079,2023-05-30T09:33:14.394808,2
2381,-2641,-3629,-1881,1823,2254,-1225,2023-05-30T09:33:14.492492,2
2382,-2021,-216,-903,327,1235,-521,2023-05-30T09:33:14.540434,2
2383,-2606,571,-278,-228,349,586,2023-05-30T09:33:14.638938,2
2384,-3491,-3866,-1758,-710,-1288,1733,2023-05-30T09:33:14.734932,2

In [ ]:
run_df_5 = pd.read_csv('./1_10_58_500_slow_run_out.csv')
run_df_5, final_df = preprocess_df(run_df_5, target = 2, final_df = final_df, flag = True)
run_df_5

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-1821,-3097,2180,966,1555,-1138,2023-05-12T10:56:22.185220,2
1,-1991,-2820,2581,1584,1244,-714,2023-05-12T10:56:22.348320,2
2,-2054,-2548,3019,694,729,-330,2023-05-12T10:56:22.370348,2
3,-1584,-2731,2781,26,220,-79,2023-05-12T10:56:22.391965,2
4,-1226,-2821,2690,-96,40,47,2023-05-12T10:56:22.526847,2
...,...,...,...,...,...,...,...,...
4268,-3915,-1225,538,-31,23,-24,2023-05-12T11:02:02.411883,2
4269,-3951,-1226,562,-82,-14,-7,2023-05-12T11:02:02.423095,2
4270,-3961,-1270,547,-77,-28,-1,2023-05-12T11:02:02.546630,2
4271,-3930,-1229,501,-52,-34,-4,2023-05-12T11:02:02.592835,2
4272,-3927,-1239,477,-105,-7,-8,2023-05-12T11:02:02.637438,2

In [ ]:
run_df_6 = pd.read_csv('./2_11_07_500_medium_run_out.csv')
run_df_6, final_df = preprocess_df(run_df_6, target = 2, final_df = final_df, flag = True)
run_df_6

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-3810,-1172,1129,306,105,-79,2023-05-12T11:05:54.183088,2
1,-3853,-1174,1099,270,86,-55,2023-05-12T11:05:54.251717,2
2,-3851,-1177,1074,208,51,-71,2023-05-12T11:05:54.345694,2
3,-3881,-1017,955,2,2,-2,2023-05-12T11:05:54.432103,2
4,-3867,-1194,1069,-55,63,-29,2023-05-12T11:05:54.479069,2
...,...,...,...,...,...,...,...,...
3703,-3765,-1407,914,-99,-9,94,2023-05-12T11:10:49.316436,2
3704,-3832,-1389,953,2,11,17,2023-05-12T11:10:49.362760,2
3705,-3836,-1358,970,-113,10,-57,2023-05-12T11:10:49.452059,2
3706,-3824,-1368,993,-71,23,-112,2023-05-12T11:10:49.541934,2
3707,-3822,-1306,1016,-92,6,-76,2023-05-12T11:10:49.631271,2

In [ ]:
run_df_7 = pd.read_csv('./3_11_18_500_fast_run_out.csv')
run_df_7, final_df = preprocess_df(run_df_7, target = 2, final_df = final_df, flag = True)
run_df_7

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,-3934,-1151,1508,278,85,166,2023-05-12T11:17:37.131070,2
1,-3776,-1275,1491,130,51,74,2023-05-12T11:17:37.197158,2
2,-3721,-1259,1288,300,-12,32,2023-05-12T11:17:37.241972,2
3,-3642,-1214,1216,419,-4,-40,2023-05-12T11:17:37.332665,2
4,-3704,-1023,1168,308,-40,-156,2023-05-12T11:17:37.422833,2
...,...,...,...,...,...,...,...,...
2828,-4116,-1226,746,-174,-183,34,2023-05-12T11:21:22.558221,2
2829,-3750,-1417,789,-325,-36,-87,2023-05-12T11:21:22.571437,2
2830,-3811,-1375,806,311,90,-139,2023-05-12T11:21:22.646260,2
2831,-3775,-1227,902,19,34,62,2023-05-12T11:21:22.736324,2
2832,-3827,-1351,956,-6,23,50,2023-05-12T11:21:22.829672,2

In [ ]:
final_df

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,time,target
0,181,-3007,2892,5,-7,-2,2023-05-10T21:23:17.026,0
1,185,-3010,2878,6,-7,-2,2023-05-10T21:23:17.103,0
2,187,-3012,2892,6,-7,-2,2023-05-10T21:23:17.180,0
3,186,-3009,2887,6,-7,-2,2023-05-10T21:23:17.379,0
4,184,-3011,2888,6,-7,-2,2023-05-10T21:23:17.393,0
...,...,...,...,...,...,...,...,...
52831,-4116,-1226,746,-174,-183,34,2023-05-12T11:21:22.558221,2
52832,-3750,-1417,789,-325,-36,-87,2023-05-12T11:21:22.571437,2
52833,-3811,-1375,806,311,90,-139,2023-05-12T11:21:22.646260,2
52834,-3775,-1227,902,19,34,62,2023-05-12T11:21:22.736324,2
52835,-3827,-1351,956,-6,23,50,2023-05-12T11:21:22.829672,2

In [ ]:
final_df['target'].value_counts()

1    18420
2    17574
0    16842
Name: target, dtype: int64

In [ ]:
final_df.to_csv(r'final_df_activity_v2.csv', index = False)